<p id="notice"><%= notice %></p>

<%= link_to 'New Author', new_author_path, class: "btn btn-primary btn-large pull-right" %>

<h1>Authors</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th class="centered">Number of books</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= link_to author.name, author %></td>
        <td class="centered"><%= author.books.count %></td>
        <td class="centered">
          <%= link_to edit_author_path(author) do %>
            <span class="glyphicon glyphicon-pencil"> Edit</span>
          <% end %>
        </td>
        <td class="centered">
          <%= link_to author, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"> Destroy</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

