<p id="notice"><%= notice %></p>

<h2><%= @author.name %></h2>

<p>
  <strong>Biography:</strong>
  <%= simple_format @author.biography %>
</p>

<p>
  <strong>Books:</strong>
  <% @author.books.each do |book| %>
    <%= link_to image_tag(book.cover_url, alt: book.title), book %>
  <% end %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
